*{
    padding: 0;
    border: 0;
    margin: 0;
    font-weight: bold;
}

main{
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
    margin: 4%;
}

header img{
    width: 100%;
}

footer img{
    width: 100%;
}

.formulario{
    color: rgb(255, 255, 255);
    padding: 3%;
    box-shadow: 0px 0px 45px rgb(30, 30, 30);
    background-color: rgb(47,27,144);
    margin-bottom: 4%;
}

.formulario h2{
    color:  rgb(255, 157, 0);
    margin-bottom: 8%;
    font-size: 24px;
}

.formulario label{
    font-size: 18px;
}

.formulario input{
    margin-bottom: 5%;
    background-color: rgb(255, 255, 255);
    height: 28px;
    border-radius: 5%;
}

.formulario select{
    margin-bottom: 5%;
}

.formulario button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    height: 28px;
    width: 100%;
    padding: 0 10px;
}

.resultado h2{
    font-size: 24px;
}

.resultado p{
    font-size: 18px;
}